<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta http-equiv="refresh" content="5;url=/applicantHomePage" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="./static/css/thankyou.css">
    <title>Failed</title>
</head>
<body>
     <div class="logo">
                <h1>Virtual Applicant Selector</h1>
     </div>
    <div class="container">
       <h1 class="ml6">
          <span class="text-wrapper">
            <span class="letters">You are not qualified for the Interview Round.</span>
          </span>
        </h1>
        <span class="text">Better Luck Next Time !</span>
        <a href="/applicantHomePage">Go to your homepage</a>
    </div> 

</body>
</html>

