<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/instruction.css">
    <title>Instructions</title>
</head>
<body>
     <div class="logo">
                <h1>Virtual Applicant Selector</h1>
     </div>
    <div class="container">
        <div class="heading">
        <h1>Instructions Before Applying<span><a href="/" class="home"><i class="fas fa-home"></i></a></span></h1>      
        </div>
        <div class="body">
        <ul>
            <li><span class="rules">1 :</span> Upload your resume in <span style="color: yellow">pdf format only</span>.</li>
            <li><span class="rules">2 :</span> After Resume upload, two test will conducted, <span style="color: yellow">Aptitude Test</span> and <span style="color: yellow">Technical test</span>.
            </li>
            <li><span class="rules">3 :</span> All questions are mandatory to attend.</li>
            <li><span class="rules">4 :</span> Test are <span style="color: yellow">time based</span> i.e. 15 min for each test.</li>
            <li><span class="rules">5:</span> There is <span style="color: yellow">No Negative</span> Marking.</li>
            <li><span class="rules">6:</span> Cheating is strictly prohibited.</li>
            <li><span class="rules">7:</span> Use of calculator is allowed.</li>
            <li><span class="rules">8:</span> After the test, your interview will take place by our <span style="color: yellow">InterviewBot</span> which will take merely 5-10 min.</li>
            <li><span class="rules">9:</span> You will be allowed to give interview only on passing the above two rounds; <span style="color: yellow">passing marks are 14/20</span>.</li>
            <li><span class="rules">10:</span> If you skip the interview, you will not be judged and <span style="color: yellow">your resume and tests will be discarded</span>.</li>
            <li><span class="rules">11:</span> Your resume, performance in the two tests and the answers to the InterviewBot will equally grade you, so <span style="color: yellow">be focused in all the three steps</span>.</li>
        </ul>
            <h1 class="rules1">ALL THE BEST <i class="fas fa-thumbs-up"></i></h1>
        </div>
       <a href="/upload your resume for job id={{jid}}" class="btn">Proceed</a>
   </div>
</body>
</html>